.grid.row {
    // For `.col-1-2` and `.col-2-2`... Not so bad.
    .col-1-2 {
      width: 100% * (1/2);
    }
    .col-2-2 {
      width: 100% * (2/2);
    }

    // This could start to get tedious, though...
    .col-1-3 {
      width: 100% * (1/2);
    }
    .col-2-3 {
      width: 100% * (2/2);
    }
    .col-3-3 {
      width: 100% * (3/3);
    }
  } // END .grid.row
