$lighter-gray: lighten(gray, 15%) !default;

main.container {
  box-sizing: border-box;
  margin: 0 5%;
  outline: 1px solid red;
}

.tabs {
  border-bottom: 0.25ex solid $lighter-gray;

  a[href] {
    display: inline-block;
    margin: 0; margin-right: 0.5em;
    padding: 1ex 2em;
    background-color: $lighter-gray;

    &.active {
      background-color: gray;
    }
  }
}
